# ðŸ“˜ Hari 2: Variabel & Tipe Data
Hari ini kita belajar mengenali berbagai tipe data di Python dan bagaimana mengkonversinya.

## Contoh Tipe Data Dasar

In [ ]:
nama = "Atma"           # str
umur = 17               # int
tinggi = 165.5          # float
is_student = True       # bool

print(type(nama))
print(type(umur))
print(type(tinggi))
print(type(is_student))

## Konversi Tipe Data

In [ ]:
angka = "42"
angka_int = int(angka)
print("Angka setelah konversi:", angka_int)

## Input dari Pengguna + Operasi

In [ ]:
umur_input = int(input("Masukkan umur kamu: "))
print("Umur kamu 5 tahun lagi adalah:", umur_input + 5)